.Clip {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: .4rem;

  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    height: 2.7rem;
    width: 100%;
    font-size: 1.5rem;
    transition: all ease-in-out .2s;

    &:hover {
      cursor: pointer;
      background: crimson;
      color: white;
      border: none;
    }
  }

  .vid-container {
    margin: .5rem;

    .vid-placeholder {
      width: 640px;
      height: 360px;
      background-color: coral;
    }
  }
  
  .download-container {
    display: flex;
    justify-content: space-around;
    width: 20rem;

    .download {
      text-decoration: none;
      border: 2px purple solid;
      border-radius: .3rem;
      padding: .4rem;
      color: purple;
      background: transparent;
      transition: all .2s ease-in-out;
      margin: .2rem 0;
      font-weight: bold;
  
      &:hover {
        background: purple;
        color: white;
      }
    }
  }
}